.why-choose-content {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.why-choose-subtitle {
  font-weight: 700;
  margin-bottom: 18px;
}

.why-choose-content ul {
  margin: 0;
  padding-left: 20px;
}

.why-choose-content li {
  margin-bottom: 10px;
}

