#team {
  padding: 100px 0;
}

#team .section-title {
  margin-bottom: 70px;
}

#team .section-title h2 {
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

#team .section-title h2::after {
  position: absolute;
  content: "";
  background: var(--color-yellow);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}

#team .section-title p {
  font-size: 18px;
}

#team h4 {
  margin: 5px 0;
}

#team .team-img {
  width: 240px;
}

#team .thumbnail {
  background: transparent;
  border: 0;
}

#team .thumbnail .caption {
  padding: 10px 0 0;
  color: #888;
}

@media screen and (max-width: 400px) {
  #team {
    width: 111%;
  }
}
